<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346017194831-8errnvidtc5v8tfmvao2haeko929luc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346017194831-8errnvidtc5v8tfmvao2haeko929luc5</string>
	<key>API_KEY</key>
	<string>AIzaSyAcJKYXPstKgMq-Gow8mcw229hGxXfNDxM</string>
	<key>GCM_SENDER_ID</key>
	<string>346017194831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Strydhr.ThePasar</string>
	<key>PROJECT_ID</key>
	<string>thepasar-c78f6</string>
	<key>STORAGE_BUCKET</key>
	<string>thepasar-c78f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:346017194831:ios:271a8792aa3cebcf135b3a</string>
	<key>DATABASE_URL</key>
	<string>https://thepasar-c78f6.firebaseio.com</string>
</dict>
</plist>
